# ============================================================
# DATOS
# ============================================================

data/raw/
data/processed/
data/rejected/
data/inference/

*.parquet


# ============================================================
# MODELOS ENTRENADOS
# ============================================================

models/

*.pkl
*.pickle
*.joblib
!app/artifacts/*.joblib
*.h5
*.keras


# ============================================================
# LOGS Y ARCHIVOS TEMPORALES
# ============================================================

logs/

*.log
*.tmp


# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# ENTORNOS
# ============================================================

.env
.venv/
venv/
env/


# ============================================================
# SISTEMA OPERATIVO
# ============================================================

.DS_Store
Thumbs.db
desktop.ini


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/